@import '../assets/var';
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh !important;
    overflow-x: auto;
    scrollbar-width:thin;
    min-width: 800px;
    .cont{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        height: calc(100% - 80px) !important;
        .chatWin{
            flex: 1;
            background-color: $chat_txt_bg;
            width: 80%;
        }
        .contactWin{
            flex-basis: 250px;
            height: calc(100% +0px) !important;
            width: 20%;
        }
    }
}
nav{
    background-color: $primary;
    color: $white;
    padding: 8px;
    height: 80px;
}