@import "../assets/var";
.Main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh !important;
    app-list-users{
        width: 25% !important;
        background-color: $primary;
        color: $white;
        border-radius: 5px;
        height: 100vh !important;        
        overflow-y: auto;
    }
    app-main-chat{
        background-color: #f8f9fb;
        width: 50%;
        height: 100vh !important;
    }
    app-profile-info{
        width: 25%;
        border-radius: 10px;
    }
}