@import '../../assets/var';
.nav-item{
    cursor: pointer;
}
main{
    margin-top: 2em;
    .searchdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        align-self: center;
        .search{
            background-color: rgba(255, 255, 255, 0.514);
            border: 0;        
            width: 100%;
            height: 2em;
            border-radius: 5px;
            padding-left: 2em;
            padding-right: 1em;
            color: #e5eff4;
        }
        .searchIcon{
            position: relative;
            z-index: 2;
            left: 1.5em;
            align-self: center;
        }
    }
    .OptionsIcons{
        width: 100%;
        margin-top: 1em;
        i{
            cursor: pointer;
            color: rgba(255, 255, 255, 0.418) ;
            
        }
        .active{
            color: #fff!important;
        }
    }
    .ContentOutlet{
        margin-top: 1em;
        height: 100%;
    }
}