<div class="main">
    <div class="msgArea">

    </div>
    <div class="sendMsg">
        <textarea name="message" id="message"
        placeholder="Type your message"
        #msg
        ></textarea>
        <button (click)='this.gs.setMsg(msg.value.trim(),"tosummyNAme")' [disabled]="msg.value.trim().length==0">
            <img src="../../assets/send-Filled.png" alt="send">
        </button>
        <button (click)="this.gs.getAllDocs()">
            <img src="../../assets/favicon.ico" alt="send">
        </button>
    </div>
</div>
