<main *ngIf="this.service.currentUser" class="w-100 h-100 d-flex flex-column justify-content-center">
    <nav  class="navbar border-bottom shadow-sm navbar-expand">
        <h3 (click)="this.service.profileDetails = this.service.currentUser" class="navbar-brand text-dark font-weight-bold"><span><i class="fa fa-circle" aria-hidden="true"></i></span> {{this.service.currentUser.user}}</h3>
            <ul class="navbar-nav w-100 justify-content-end text-white">
                <li class="nav-item m-2">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fal fa-phone-alt fa-stack-1x fa-inverse"></i>
                      </span>
                </li>
                <li class="nav-item m-2 ">
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fal fa-video fa-stack-1x fa-inverse"></i>
                      </span>   
                </li>            
            </ul>
    </nav>
    <div *ngIf="isPropPresent(messages,this.service.currentUser.user) || isPropPresent(messages,this.service.userName)" class="ChatContainer">
      <div class="Chat" *ngFor="let item of messages.get(this.service.currentUser.user)">
        <div class="from" *ngIf="item.from===this.service.userName">
          <div class="card text-left">
           <p>
           {{item.msg}}
           </p>
          </div>
          <div class="ProfileConn">
            <div class="profile">
              <img src="../../assets/blank-profile-picture-973460_640.png" alt="profile">
            </div>
            <p>
              10:30 PM
            </p>
          </div>
        </div>
          <div class="to" *ngIf="item.to !==this.service.currentUser.user">
            <div class="card text-left">
              <p>
              {{item.msg}}
              </p>
             </div>
             <div class="ProfileConn">
               <div class="profile">
                 <img src="../../assets/blank-profile-picture-973460_640.png" alt="profile">
               </div>
               <p>
                 10:30 PM
               </p>
             </div>
          </div>
      </div>
     
    </div>
    <div *ngIf="!isPropPresent(messages,this.service.currentUser.user)" class="ChatContainer">
      <div class="Chat">
        <h1>No Chat Yet</h1>
      </div>     
    </div>
    <footer>
      <div class="msgInputDiv">
        <textarea name="msg" id="msg" #msg placeholder="Your text goes here....."></textarea>
      </div>
      <div class="OPtions">
        <i class="fad fa-smile"></i>
        <i class="fal fa-paperclip"></i>
         <div class="send"  (click)="sendmessage()">
            <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fal fa-location-arrow fa-stack-1x fa-inverse"></i>
          </span>  
         </div>
      </div>
    </footer>
</main>