<main class="w-100 h-100 d-flex flex-column justify-content-start">
    <nav  class="navbar navbar-expand">
        <ul class="navbar-nav w-100 justify-content-end text-white">
                <li (click)="this.service.profileDetails=null" class="nav-item m-2">
                    <i class="fal fa-times text-dark"></i>
                </li>           
            </ul>
    </nav>
    <div class="ProfilePicConn">
        <div class="profilePic">
            <img [src]="this.service.profileDetails.imgUrl" alt="Profile">
        </div>        
        <i class="fas fa-circle"></i>
    </div>
    <div class="Titles">
        <p>
            "HR"<br>
            Google
        </p>
    </div>
        <ul class="details">
            <li class="address">
                <p>
                    kukatpally, hyderaabd
                </p>
            </li>
            <li class="phone">
                <p>
                   9686989886
                </p>
            </li>
            <li class="mail">
                <p>
                    jhon@jhoncom.org
                </p>
            </li>
        </ul>
    <div class="media d-flex flex-column justify-content-start">
    <h5 class="title text-left text-bold mx-2">
        Media
    </h5>
    <div class="pics">
        <div class="profilePic">
            <img src="../../assets/f2.jpeg" alt="Profile">
        </div>   
        <div class="profilePic">
            <img src="../../assets/f2.jpeg" alt="Profile">
        </div>   
        <div class="profilePic">
            <img src="../../assets/f2.jpeg" alt="Profile">
        </div>   
        <div class="profilePicLast">
           <div class="bgBlur">
            <p>
                6+
            </p>
           </div>
        </div>   
    </div>
    </div>
</main>